<div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
  <h1><strong> CELEBRITIES </strong></h1>
  <style>
    .container-fluid h1 {
      font-size: 50px;
    }
  </style>

  <div>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-start w-100">
        <div class="col-12 col-md-6 mb-5 me-5" style="margin-top: 100px;">
          <div class="text-center">
            <h2 class="fs-1 mb-2"><strong>Book</strong> or <strong>Create</strong> your favorite celebrity clones.</h2>
            <a href="/celebrities/new" class="btn btn-outline-primary rounded-5 btn-lg" style="margin-top: 50px" type="button">
              <span class="fs-5 fw-bold">Create Your Own Celebrity Clone</span>
            </a>

            <div class="col-12 col-md-5 mb-4 me-4 w-100" style="margin-top: 50px;">
              <form class="d-flex" action="/search" method="get">
                <input class="form-control me-5 rounded-3" type="search" placeholder="Search celebrities ..." aria-label="Search" name="query">
                <button class="btn btn-outline-primary rounded-5" type="submit">Search</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <% @celebrities.each do |celebrity| %>
          <div class="col">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.4); border-radius: 50px;">
              <%= link_to celebrity_path(celebrity), style: "text-decoration: none; color: inherit;" do %>
                <div class="card-body rounded-5 text-center">
                  <% if celebrity.photo.attached? %>
                    <%= cl_image_tag celebrity.photo.key, class: "d-block mx-auto img-fluid rounded-5 pb-3", alt: "#{celebrity.first_name} #{celebrity.last_name}" %>
                  <% end %>
                  <h3 class="card-title"><strong><%= celebrity.first_name %> <%= celebrity.last_name %></strong></h3>
                  <h4 class="card-text">$ <%= celebrity.price %> / Day</h4>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

