
<div class="row">
  <% @celebrities.each do |celebrity| %>
    <div class="col-md-4">
      <div class="card">
        <% if celebrity.photo.attached? %>
          <%= image_tag celebrity.photo, class: "card-img-top", alt: "Celebrity Photo" %>
        <% else %>
          <!-- Afficher une image par défaut si aucune photo n'est attachée -->
          <%= image_tag "default_photo.jpg", class: "card-img-top", alt: "Default Photo" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= celebrity.first_name %> <%= celebrity.last_name %></h5>
          <p class="card-text">Age: <%= celebrity.age %></p>
          <!-- Autres informations sur la célébrité -->
        </div>
      </div>
    </div>
  <% end %>
</div>
