
<div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
<h2><strong> Please complete the form below </strong></h2>
 <style>
        .container-fluid h1 {
            font-size: 50px  ;
        }
</style>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
 <%= simple_form_for @celebrity do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :age %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.submit class: "btn btn-outline-primary rounded-5 btn-lg" %>
      <a class="btn btn-outline-primary rounded-5 btn-lg" href="/">Home</a>
  <% end %>
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card" style="border-radius: 15px; overflow: hidden;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
          </div>
        </div>
      </div>
