
<div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
<h2><strong> Please complete the crete new DNA  </strong></h2>
 <style>
        .container-fluid h1 {
            font-size: 50px  ;
        }
</style>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
 <%= simple_form_for @celebrity do |f| %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :age %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.submit class: "btn btn-outline-primary rounded-5 btn-lg" %>
      <a class="btn btn-outline-primary rounded-5 btn-lg" href="/">Home</a>
  <% end %>
</div>

<div class="container mt-5">
    <div class="row row-cols-2 row-cols-md-2 g-4">
      <div class="col">
          <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGxqMTZ2cG9kczd6OWEwZzNweXVjb24ybWZycGZwbHFsYWtiNzB5dyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/YRzQnWzbn4WIxd3ZYx/giphy.webp" class="d-block mx-auto img-fluid rounded-5 pb-3" alt="...">
          <div class="card-body">
          </div>
        </div>
      </div>
