<div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
  <% flash.each do |key, message| %>
    <div class="flash flash-<%= key %> alert alert-dismissible fade show" role="alert">
      <span><strong><%= message %></strong></span>
      <a data-bs-dismiss="alert" aria-label="Close">
        <i class="fas fa-times"></i>
      </a>
    </div>
  <% end %>

  <h1><strong> <%= @booking.celebrity.first_name %> <%= @booking.celebrity.last_name %> </strong></h1>
  <style>
    .container-fluid h1 {
      font-size: 50px;
    }
  </style>

  <div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
          <img src="https://cache.cosmopolitan.fr/data/photo/w1200_h630_ci/66/rihanna.jpg" class="d-block mx-auto img-fluid rounded-5 pb-3" alt="...">
          <div class="card-body rounded-5 text-center">
            <h3><strong><%= @booking.celebrity.first_name %> <%= @booking.celebrity.last_name %> </strong></h3>
            <h4>$<%= @booking.celebrity.price %> / Day</h4>
          </div>
        </div>
      </div>
      <%= simple_form_for([@celebrity, @booking], html: { data: { controller: "datepicker" }}) do |f| %>
        <h3><%= "Update Your Dates " %></h3>
        <%= f.input :start_date, as: :string, input_html: { data: { datepicker_unavailable_dates_value: [], datepicker_target: "start" } } %>
        <%= f.input :end_date, as: :string, input_html: { data: { datepicker_unavailable_dates_value: [], datepicker_target: "endDate" } } %>
        <%= f.submit class: "btn btn-outline-primary rounded-5 btn-lg" %>
        <%= link_to "Cancel Booking ?", booking_path(@booking), data: { turbo_method: "delete", turbo_confirm: "Are you sure ?" }, class: "btn btn-outline-danger rounded-5 btn-lg" %>
      <% end %>
      <a class="btn btn-outline-primary rounded-5 btn-lg" href="/bookings"> Back To Bookings </a>
    </div>
  </div>
</div>

