  <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
<h1><strong> <%= @booking.celebrity.first_name %> <%= @booking.celebrity.last_name %> </strong></h1>
 <style>
        .container-fluid h1 {
            font-size: 50px  ;
        }
</style>
<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card" style="background-color: rgba(255, 255, 255, 0.4); border-radius: 50px;padding: 20px">
          <img src="https://cache.cosmopolitan.fr/data/photo/w1200_h630_ci/66/rihanna.jpg" class="d-block mx-auto img-fluid rounded-5 pb-3" alt="...">
            <div class="card-body rounded-5 text-center">
            <h3><strong><%= @booking.celebrity.first_name %>
            <%= @booking.celebrity.last_name %> </strong> </h3>

            <h4>$<%= @booking.celebrity.price%> / Day</strong>
            </h4>
          </div>
        </div>
      </div>
<%= simple_form_for([@celebrity, @booking]) do |f| %>
      <h3><%= "Update Your Dates " %></h3>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit class: "btn btn-outline-primary rounded-5 btn-lg" %>
                   <%= link_to "Cancel", booking_path(@booking), data: {turbo_method: "delete", turbo_confirm: "Are you sure ?" }, class: "btn btn-outline-danger rounded-5 btn-lg" %>

  <% end %>
  <a class= "btn btn-outline-primary rounded-5 btn-lg" href="/bookings"> Back To Bookings </a>
