<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentastar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>






<section style="background: linear-gradient(100.84deg, #FFFFFF 15.33%, #BDB5D5 60%); padding-bottom: 50px;">
  <div class="navbar transparent navbar-expand-sm navbar-light navbar-lewagon" style="background: rgba(255, 255, 255, 0);">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://static.vecteezy.com/system/resources/previews/025/750/706/original/north-star-compass-logo-compass-icon-modern-star-symbol-vector.jpg" />
</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/celebrities" style="font-size: 25px; padding-right: 20px;">Celebrities</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/bookings/" style="font-size: 25px; padding-right: 20px;">Bookings</a>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" style= "padding-right: 1px;" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="https://media.licdn.com/dms/image/C4E03AQFMbo-M3a16Ig/profile-displayphoto-shrink_800_800/0/1639432747995?e=2147483647&v=beta&t=tu97UuRHe28wOR119KNKzWVa4JcBsBvXR4-3A3o9wdY" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Dashboard</a>
              <a class="dropdown-item" data-turbo-method="delete" href="#">Log out</a>
            </div>
          </li>
          <li class="nav-item">
          </li>
      </ul>
    </div>
  </div>
</div>
  <body>
    <%= yield %>

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </body>
</html>
</section>
